*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100vh;
    width: 100%;
    max-width: 150px;
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;

}
header a{
    margin-bottom: 20px;
}
body{
    display: flex;
    width: 100vw;
    color: black;
}